<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Reporting Suite" parallel="tests">
	<parameter name="mcm" value="ps.perfectomobile.com" />
	<parameter name="mcmUser" value="${user}" />
	<parameter name="mcmPassword" value="${password}" />
	<parameter name="browserName" value="mobileOS" />

	<test name="Test Android">
		<parameter name="deviceName" value="30E9D3E3" />
<!--    		<groups>
			<run>
				<include name="${testng.groups}" />
			</run>
		</groups> -->
		<classes>
			<class name="ReportingTest" />
		</classes>
	</test> <!-- Test -->

<!-- 	<test name="Test iOS">
		<parameter name="deviceName" value="41EEF156EA10EDAB41632651F7AD2A4C4CB502ED" />
		<classes>
			<class name="ReportingTest" />
		</classes>
	</test>  -->
</suite> <!-- Suite -->
